<form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
  <div class="card mt-2">
    <div class="card-heading bg-primary">
      <h3 class="card-title">Create Employee</h3>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input required type="text" id="fullName"
               class="form-control" formControlName="fullName">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="email" email name="email" formControlName="email"  required class="form-control">
      </div>
      <div formGroupName="skills" class="mb-3">
            <label class="form-label">Skill</label>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" id="skillName" formControlName="skillName" class="form-control" placeholder="Skill">
              </div>
              <div class="col-sm-6">
                <input type="text" id="numberInYears" formControlName="experienceInYears" class="form-control" placeholder="Experience in years">
              </div>
        </div>
        <label class="form-label">Proficiency</label>
        <div class="form-control">
          <label class="form-check-inline">
            <input type="radio" value="beginner" class="form-check-input" formControlName="proficiency">
            Beginner
          </label>
          <label class="form-check-inline">
            <input type="radio" value="intermediate" class="form-check-input" formControlName="proficiency">
            Intermediate
          </label>
          <label class="form-check-inline">
            <input type="radio" value="advanced" class="form-check-input" formControlName="proficiency">
            Advanced
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber"
          class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Contact Preference</label>
        <div class="form-control">
          <label class="form-check-inline">
            <input type="radio" value="Phone" class="form-check-input" formControlName="contactPreference">
            Phone
          </label>
          <label class="form-check-inline">
            <input type="radio" value="Email" class="form-check-input" formControlName="contactPreference">
            Email
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Gender</label>
        <div class="form-control">
          <label class="form-check-inline">
            <input type="radio" value="male" class="form-check-input" formControlName="gender">
            Male
          </label>
          <label class="form-check-inline">
            <input type="radio" value="female" class="form-check-input" formControlName="gender">
            Female
          </label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="form-control">
          <label class="form-check-inline">
            <input type="checkbox" class="form-check-input" formControlName="isActive">
            IsActive
          </label>
        </div>
      </div>
      <div class="mb-3">
          <label for="department" class="form-check-inline">Department</label>
        <select id="department" formControlName="department" class="form-select">
          <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
        </select>
      </div>
      <div class="row">
        <div class="mb-3 col-md-5">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input type="text" id="dateOfBirth" name="dateOfBirth"
                 placement="right"
                 placeholder="Date of Birth"
                 formControlName="dateOfBirth"
                 bsDatepicker
                 [bsConfig]="datePickerConfig"
                 class="form-control">
        </div>
      </div>
      <div class="mb-3">
        <label for="photoPath" class="form-label">Photo Path</label>
        <input type="text" id="photoPath" name="photoPath" formControlName="photoPath"
               class="form-control">
      </div>
      <div class="input-group">
        <button type="button" (click)="togglePhotoPreview()"
                class="btn btn-primary">{{previewPhoto? "Hide ": "Show "}} Preview</button>
      </div>
<!--      <div class="input-group mb-3">-->
<!--        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto">-->
<!--      </div>-->
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
  </div>
</div>
</form>

Angular Generated Form Model : {{employeeForm.value | json}}

